# FOLDERS ======================================================================

.ignore
dist-dev
node_modules
out
.claude

# FILES ========================================================================

*.vsix
.devpanel/variables.json
CLAUDE.md
CLAUDE.local.md
.vscode

