# FOLDERS ======================================================================

.ignore
dist-dev
node_modules
out
.claude
_branch
.bctx/branches/
.vscode

# FILES ========================================================================

*.vsix
.devpanel/variables.json
CLAUDE.local.md
