name: 'Callable CI'

on:
  workflow_call:
    inputs:
      run_lint:
        description: 'Run lint checks'
        type: boolean
        required: true
      run_build:
        description: 'Run build'
        type: boolean
        required: true
      run_test:
        description: 'Run tests'
        type: boolean
        required: false
        default: false

jobs:
  lint:
    if: inputs.run_lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-and-install

      - name: Run lint
        run: pnpm run lint

      - name: Run format check
        run: pnpm run format

      - name: Check if any changes were made
        run: git diff --exit-code

  build:
    if: inputs.run_build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-and-install

      - name: Run typecheck
        run: pnpm run typecheck

      - name: Build
        run: pnpm run build
        env:
          CI: true

  test:
    if: inputs.run_test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-and-install

      - name: Run tests
        run: pnpm run test
